.conteudo {
	color: #777;
	background-color:white;
	text-align: justify;
	padding: 50px 80px; 
}
/*Configurações padrões da página*/
body, html {
	margin:0;
	font: 16px "Lato", sans-serif;
	color:#777;
	height: 100%;
}

h3 {
	text-transform: uppercase;
	color:#111;
	text-align: center;
}

p {
	margin-bottom: 20px;
}

/*Efeito Parallax*/

.caixa1, .caixa2, .caixa3, .caixa4 {
	position: relative;
	border: 1px solid red;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background-image: url(../imagens/all.png);
}

.caixa2 {
	background-image: url(../imagens/forone.jpg);
}

.caixa3 {
	background-image: url(../imagens/endeavor.png);
}

.caixa4 {
	background-image: url(../imagens/deku.jpg);
}

.conteudo-titulo {
	position: absolute;
	left: 0%;
	top:45%;
	width:100%;
	text-align: center;

}

.conteudo-titulo span.titulo {
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	color:white;
	text-transform: uppercase;
}